body{font-family: tahoma; color: darkred; background-color: black;text-align: center}
h1{text-align: center; color: #be1204;}
a{color: darkred}
th{color: black; background-color: #be1204;}
td{padding-bottom: 6px; padding-right: 6px}
tr:nth-child(odd) {background-color: #666666; color: black;}
table{width: 100%; border: 4px solid darkred; padding: 8px}
